*
{
 background-color: rgb(152, 152, 152);
 box-sizing: border-box;
}

#textoInicial
{
 text-align: center;
 padding: 60px;
 padding-top: 20px;
}

figcaption
{
 text-align: center;
}

.cabecario {
    padding: 0 !important;
    margin-top: 2.5vh;
}

.center-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 1.5vh;
}

.navBarItens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5vw;
    align-items: flex-end;
    gap: 2.5vw;
}

.navBarItens a {
    font-size: 25px; 
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.navBarItens a:hover {
    color: #bb6354;
}

.card {
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
    border: 0px!important;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;    
}

.paiTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

@media (max-width: 991px) {
    .navBarItens {
        margin-top: 1.5vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .navBarItens a {
        font-size: 22px;
        font-weight: 600;
    }
}
@Media(max-width: 368px){
    .listAparicoes{
        font-size: 42px!important;
    }
}

.country-section {
    margin-bottom: 1.5vh;
    font-size: 120px;
}

.country-section-title{
    font-size: 35px; 
    color: black;
    font-weight: 700;
}

.imgNossaSenhora {
    width: clamp(230px, 34%, 370px); /* Ajuste os valores conforme necessário */
    margin: 1.5vh 0 5.5vh 0;
    border-radius: 12px;
}
/* esse clamp funciona assim
1º valor: nao pode ser menor que, ou seja a imagem nao vai ser menor que 230px
2º valor: 34%: Valor ideal da largura da imagem, baseado na largura da div supeior
3º valor: 370px: Largura máxima da imagem. A imagem não ficará maior do que esse valor */

.listAparicoes{    
    font-size: 40px; 
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    color: #3d0909;
}