*
{
 background-color: rgb(152, 152, 152);
 box-sizing: border-box;
}

#textoInicial
{
 text-align: center;
 padding: 60px;
 padding-top: 20px;
}

figcaption
{
 text-align: center;
}

.cabecario {
    padding: 0 !important;
    margin-top: 2.5vh;
}

.center-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 1.5vh;
}

.navBarItens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5vw;
    align-items: flex-end;
    gap: 2.5vw;
}

.navBarItens a {
    font-size: 25px; 
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.navBarItens a:hover {
    color: #bb6354;
}

.card {
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
    border: 0px!important;
    --bs-card-bg: #ffffff00!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border: 3px solid #571111;
    border-radius: 12px;
    gap: 7.5px;
}

.nomeAparicao{
    font-size: 22px!important;
    text-decoration: none!important;
    font-weight: 700;
}

.paiTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}
.country-section {
    margin-bottom: 1.5vh;
    font-size: 120px;
}

.country-section-title{
    font-size: 35px; 
    color: black;
    font-weight: 700;
    margin-bottom: 3rem;
}

.imgNossaSenhora {
    width: clamp(230px, 34%, 370px); /* Ajuste os valores conforme necessário */
    margin: 1.5vh 0 5.5vh 0;
    border-radius: 12px;
}
/* esse clamp funciona assim
1º valor: nao pode ser menor que, ou seja a imagem nao vai ser menor que 230px
2º valor: 34%: Valor ideal da largura da imagem, baseado na largura da div supeior
3º valor: 370px: Largura máxima da imagem. A imagem não ficará maior do que esse valor */

.listAparicoes{    
    font-size: 40px; 
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    color: #3d0909;
}

/* filtro stilização */

.paiContInputBusca{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paiContInputBusca p{
    font-size: 22px;
    font-weight: 700;
}

.input-container {
    margin-top: 20px;
    position: relative;
    width: 380px;
    margin-bottom: 50px;
}

#search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 22px;
    box-sizing: border-box;
    height: 50px;
    border: 3px solid #571111;
    transition: all 0.3s ease-in-out;
}

#search-input:focus {
    border-color: #9e2525;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 64, 128, 0.3);
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: #000;
}

.imgPrincipalCards{
    width: 46%;
    min-width: 134px;
}

@media (max-width: 991px) {
    .navBarItens {
        margin-top: 1.5vh;
        flex-direction: column;
        align-items: flex-start;
    }
    .navBarItens a {
        font-size: 22px;
        font-weight: 600;
    }
    .card-body{
        width: 88%;
        min-width: 260px;
    }
}

@Media(max-width: 410px){
    .input-container{
        width: 260px;
    }
}

@Media(max-width: 368px){
    .listAparicoes{
        font-size: 42px!important;
    }
}
